:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --third-title-color: #2f303a;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
}

.visually-hidden {
  position: relative;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.backdrop, .submit-btn, .close-svg, .check-text, .check-text span, .clients__link, .clients__logo, .icon-border, .portfolio {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
}

.btn-list {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
  padding: 6px 22px;
  border: none;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list:hover {
  background-color: var(--accent-color);
  color: var(--primary-title-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-list:focus {
  background-color: var(--accent-color);
  color: var(--primary-title-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-studio::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 28px;
  margin-bottom: 0;
}

.current-portfolio::after {
  content: "";
  position: absolute;
  width: 76px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  margin-top: 28px;
  margin-bottom: 0;
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature-item {
  margin-right: 30px;
  width: 270px;
  margin-top: 10px;
}

.icon-border {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.advant {
  padding-bottom: 94px;
}

.advant-title {
  margin-bottom: 50px;
}

.advant-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advant-item {
  margin-right: 30px;
}

.advant-item:nth(:last-child) {
  margin-right: 30px;
}

.advant-item {
  position: relative;
}

.advant-text {
  position: absolute;
  font-family: Roboto;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-title-color);
  width: 100%;
}

.advant-title {
  font-family: Roboto;
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-right: 30px;
  margin-top: 30px;
}

.section-title-list {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.social {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  padding: 0 32px;
  list-style: none;
}

.social__logo {
  width: 44px;
  height: 44px;
}

.social__logo:hover {
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--primary-title-color);
}

.social__link {
  width: 44px;
  height: 44px;
  display: block;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.social__svg {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__svg:hover {
  fill: var(--primary-title-color);
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.submit-btn {
  background-color: var(--accent-color);
  color: var(--primary-title-color);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  min-height: 43px;
  margin-left: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 29px;
}

.submit-btn::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/send.svg);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
  padding: 40px 39px 40px 41px;
}

.close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-svg {
  position: absolute;
  right: 9px;
  top: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--secondary-text-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-svg:hover {
  fill: var(--accent-color);
}

.modal-title {
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.5px;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
  text-align: center;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background: transparent;
  margin-top: 4px;
  padding-left: 42px;
  padding-right: 20px;
  outline: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.input-wrapper {
  display: block;
  position: relative;
}

.input-label {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-text-input {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}

.input-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.modal-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  min-height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  border: none;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
}

.check-text {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  margin-right: 9px;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.check-link {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__contacts-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  margin-left: auto;
}

.header-logo {
  margin-right: 93px;
}

.header-logo__web {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo__studio {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.header-nav__link {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-color);
}

.header-nav__contact-link {
  font-family: Roboto;
  margin-right: 50px;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-nav__contact-link:hover, .header-nav__contact-link:focus {
  color: var(--accent-color);
}

.header-nav__logo-link {
  position: relative;
}

.header-nav__contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-btn {
  font-weight: 700px;
  color: var(--primary-title-color);
  background: var(--accent-color);
  padding: 10px 32px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
}

.portfolio-page__header-btn-list {
  text-align: center;
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  text-align: center;
  max-width: 696px;
  font-family: Roboto;
  font-style: normal;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.hero-title {
  margin: 0 auto;
  margin-bottom: 30px;
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__item:not(:last-child) {
  margin-right: 50px;
}

.header-nav__contacts-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
  margin-left: auto;
}

.header-logo {
  margin-right: 93px;
}

.header-logo__web {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo__studio {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.header-nav__link {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link:hover, .header-nav__link:focus {
  color: var(--accent-color);
}

.header-nav__contact-link {
  font-family: Roboto;
  margin-right: 50px;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-nav__contact-link:hover, .header-nav__contact-link:focus {
  color: var(--accent-color);
}

.header-nav__logo-link {
  position: relative;
}

.header-nav__contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-btn {
  font-weight: 700px;
  color: var(--primary-title-color);
  background: var(--accent-color);
  padding: 10px 32px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
}

.portfolio-page__header-btn-list {
  text-align: center;
}

.empl {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.employee__list {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}

.employee__item {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.employee {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.employee__element {
  width: 270px;
  margin-right: 30px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

.employee__element:last-child {
  margin-right: 0;
}

.employee__team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee__list {
  text-align: center;
}

.employee__item {
  text-align: center;
  margin-top: 10px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-family: Roboto;
  font-style: normal;
  color: #212121;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-left: 30px;
  width: 170px;
  height: 92px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__logo:first-child {
  margin-left: 0px;
}

.clients__logo:hover, .clients__logo:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.icon-border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__icon-logo {
  fill: currentColor;
  width: 106px;
  height: 60px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-web {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer-studio {
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  font-weight: bold;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.footer {
  background-color: var(--third-title-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  margin-top: 9px;
}

.address {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.footer-adress {
  margin-top: 20px;
}

.footer-contacts {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-text-color);
}

.footer-item {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-item:hover, .footer-item:focus {
  fill: white;
  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-icon {
  fill: white;
}

.footer-social {
  margin-left: 70px;
  width: 206px;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 0;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-title {
  color: #ffffff;
  font-family: Roboto;
  padding: 20px 0px 10px 0px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-transform: uppercase;
}

.footer-item {
  width: 44px;
  height: 44px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg {
  margin: 12px 0px 0px 12px;
  fill: currentColor;
}

.footer-submit {
  margin-left: 93px;
}

.footer-submit-text {
  font-family: Roboto;
  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 20px;
  padding: 20px 0px 10px 0px;
  color: var(--primary-title-color);
}

.footer-input {
  width: 358px;
  margin: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 13px 16px;
  background-color: #2f303a;
  color: var(--primary-title-color);
}

.footer-input::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.footer-input:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.footer-input::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.footer-input::placeholder {
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 0.03em;
}

.portfolio-page {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.portfolio-page__item {
  margin-right: 8px;
  background-color: var(--accent-color);
  border-radius: 4px;
}

.portfolio-page__project-title {
  font-family: Roboto;
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}

.portfolio-page__project-item {
  font-family: Roboto;
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.portfolio-page__project-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio-page__project-list-item {
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-page__project-list-item:hover .project-top-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-page__project-list-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-page__project-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolio-page__project-list-item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-page__projects-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.portfolio-page__project-div {
  position: relative;
  overflow: hidden;
}

.project-top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 322px;
  height: 100%;
  font-size: 18px;
  font-family: Roboto;
  line-height: 1.5;
  padding: 63px 24px;
  color: var(--primary-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}
/*# sourceMappingURL=main.css.map */