.empl {
  background-color: #f5f4fa;

  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.employee__list {
  font-family: Roboto;
  font-style: normal;
  @include font(16px, 500, 1.18, 0.03em);
  color: var(--secondary-title-color);
}

.employee__item {
  font-family: Roboto;
  font-style: normal;
  @include font(16px, normal, 1.18, 0.03em);
  color: var(--primary-text-color);
}

.employee {
  // display: flex;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.employee__element {
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px #0000001f;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.employee__team {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee__list {
  text-align: center;
}

.employee__item {
  text-align: center;
  margin-top: 10px;
}
