.advant {
  padding-bottom: 94px;
}

.advant-title {
}
.advant-list {
  display: flex;
}

.advant-item {
  margin-right: 30px;
}
.advant-item:nth(:last-child) {
  margin-right: 30px;
}

.advant-item {
  position: relative;
}

.advant-text {
  position: absolute;
  font-family: Roboto;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-title-color);
  width: 100%;
}
.advant-title {
  font-family: Roboto;
  font-style: normal;
  @include font(36px, bold, 1.16, 0.03em);
  margin-bottom: 50px;
  text-align: center;
  @media screen and (min-width: 480px) {
    font-size: 28px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
