.current-studio {
  &::after {
    content: "";
    position: absolute;
    width: 48px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 28px;
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
      margin-top: 41px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 28px;
    }
  }
}

.current-portfolio {
  &::after {
    content: "";
    position: absolute;
    width: 76px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 28px;
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
      margin-top: 41px;
    }
    @media screen and (min-width: 1200px) {
      margin-top: 28px;
    }
  }
}
