.section-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-right: 30px;
  margin-top: 30px;
}

.section-title-list {
  margin-top: 10px;
  font-family: Roboto;
  font-style: normal;
  @include font(14px, normal, 1.71, 0.03em);
  color: var(--primary-text-color);
}
